<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title align="center">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="nahloh">

    <img src="assets/kost.jpg" />
    <ion-card-header>
      <ion-card-title class="teksCol">Kos Idaman</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Tersedia 10 kamar dengan tiap kamar terdapat kamar mandi sendiri, ada wifi dengan kecepatan 1GB, dan masih banyak lainnya</p>
    </ion-card-content>

    <ion-item class="itemNah">
      <ion-icon name='home' item-start size="large" slot="start"></ion-icon>
      <ion-label>
        <h2>JL. Kemangi Blok D</h2>
        dekat lampu merah, ada rumah warna putih
      </ion-label>
    </ion-item>

  </ion-card>

  <ion-card class="nahloh">

    <img src="assets/kost.jpg" />
    <ion-card-header>
      <ion-card-title class="teksCol">Kos Idaman</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Tersedia 10 kamar dengan tiap kamar terdapat kamar mandi sendiri, ada wifi dengan kecepatan 1GB, dan masih banyak lainnya</p>
    </ion-card-content>

    <ion-item class="itemNah">
      <ion-icon name='home' item-start size="large" slot="start"></ion-icon>
      <ion-label>
        <h2>JL. Kemangi Blok D</h2>
        dekat lampu merah, ada rumah warna putih
      </ion-label>
    </ion-item>

  </ion-card>

  <ion-card class="nahloh">

    <img src="assets/kost.jpg" />
    <ion-card-header>
      <ion-card-title class="teksCol">Kos Idaman</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Tersedia 10 kamar dengan tiap kamar terdapat kamar mandi sendiri, ada wifi dengan kecepatan 1GB, dan masih banyak lainnya</p>
    </ion-card-content>

    <ion-item class="itemNah">
      <ion-icon name='home' item-start size="large" slot="start"></ion-icon>
      <ion-label>
        <h2>JL. Kemangi Blok D</h2>
        dekat lampu merah, ada rumah warna putih
      </ion-label>
    </ion-item>

  </ion-card>
</ion-content>
